@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Raleway:ital,wght@1,900&family=Roboto&display=swap');

/*Header fonts ***************************************************/

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    margin: 1vh 0 1vh 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

/*Nav menu ********************************************************/

nav {
    position: fixed;
    background-color: #e9c46a;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0;
    z-index: 10;
    box-shadow: 0px 3px 20px 0px #000000;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0 0 0 10vw;

}

nav ul li {
    padding: 0 8vw 0 0;
}

nav ul li a {
    text-decoration: none;
    color:black;
    padding: 0;
    transition: all 0.2s;
}

nav ul li a:hover {
    transform: scale(1.1);
    color: #D7431D;
    font-weight: bold;
}


/*Large bodies ***************************************************/

html {
    color: #FFFCF2;
}

body {
    background-color: #264653;
    font-family: 'Roboto', sans-serif;
    padding-top: 10vh;
    margin: 0 20vw 0 20vw;
}

footer {
    background-color: #2a9d8f;
    /*color: black;*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 0.1em;
    box-shadow: 0px 3px 20px 0px #000000;
    font-size: 2vh;
}

/*Text Elements ***************************************************/

a {
    color: #e76f51;
}

/*Cells ***********************************************************/

.cell-container {
    display: flex;
    flex-flow: wrap;

}

.cell {
    background-color: #2a9d8f;
    border-radius: 10px;
    padding: 10px;
    margin: 1vh auto 1vh auto;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
}

.cell:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.5);
    transition: all 0.2s;
}

.cell h1 {
    font-size: 30px;
    width: 25vw;
    margin: 0;
}

/*Phone ***********************************************************/

