@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Raleway:ital,wght@1,900&family=Roboto&display=swap');


h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}